
.table-with-res{
  height: 75%;
  width: 75%;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

}
.stock-management{
  text-align: center;
  margin-bottom:50px;
}

html{
  height: 100%;
}

@media only screen and (max-height: 720px) {

  html{
    height: 150%;
  }

}
body {
    height: 100%;
    background: linear-gradient(to bottom left, 
    #d979ff 25%, #99f4ff 25%, #99f4ff 50%, #baf5df 50%, #baf5df 75%, #f9b5c4 75% );
}


.valuepercentage {
  min-width: 200px;

}

.meaningofvalue{

}
.meaningofvalue{

  font-size: 14px;
}
@media only screen and (max-width: 1100px) {

  .meaningofvalue{

    font-size: 12px;
  }

}

.percentage37{
  background-color: #ff6600;
}


/*
#f9b5c4
Ljusrosa = 249, 181, 200 
#baf5df
Ljusgrön = 186, 245, 223
#99f4ff
Ljusblå = 153, 244, 255
#d979ff
Ljuslila = 217, 121, 255

*/